In [1]:
%matplotlib inline
import os
import glob
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
import descartes
import geopandas as gpd
from shapely.geometry import Point, Polygon
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
import imagesc as imagesc
# Standardize the data attributes for the Iris dataset.
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
# global figure parameters
import matplotlib.pylab as pylab
params = {'legend.fontsize': 'x-large',
          'figure.figsize': (8, 5),
          'figure.dpi': 300,
         'axes.labelsize': 'x-large',
         'axes.titlesize':'x-large',
         'xtick.labelsize':'x-large',
         'ytick.labelsize':'x-large'}
pylab.rcParams.update(params)

In [3]:
# south InSAR
# load lon, lat information
lon_south=pd.read_csv('InSAR_data_south/longitude.csv')
lat_south=pd.read_csv('InSAR_data_south/latitude.csv')
# load one file

z_south=pd.read_csv('InSAR_data_south/displacement/CSV/20190122.csv')


# change columns and index names into lon and lat
z_south.columns=lon_south.columns
z_south.index=lat_south.columns[:-1]
#standardized_x=preprocessing.scale(z_south)
#print(standardized_x)
#min=-80
#max=0
#need to standardize data
#ax=sns.heatmap(z_south, xticklabels=200, yticklabels=200,vmin=min, vmax=max,\
#    cbar_kws={'label': 'Displacement (cm)'})
#ax.invert_yaxis()
#plt.xlabel('Longitude')
#plt.ylabel('Latitude')
#plt.tight_layout()
#plt.show()

In [4]:
longi="-119.349"
lat="36.1352"
#print(z_south)
#z_south.at(lat,longi)
#z_south[lat,longi]
z_south.loc[lat,longi]

-49.159

In [5]:
df= z_south.unstack().reset_index()
df.columns=['Longitude', 'Latitude', 'Displacement']
print(df.head())

   Longitude Latitude  Displacement
0  -120.9486  34.1347           NaN
1  -120.9486  34.1367           NaN
2  -120.9486  34.1387           NaN
3  -120.9486  34.1407           NaN
4  -120.9486  34.1427           NaN

In [6]:
#time is column
#row is loc
z_south0=z_south
#z_s= pd.read_csv('InSAR_data_south/displacement/20141108.csv')
z_south=z_south.stack().reset_index()
z_south.columns=['Longitude', 'Latitude', 'Displacement']
print(z_south.head())
z_south

#z_s=pd.DataFrame()
#z_s.set_value([lat,longi], )

  Longitude   Latitude  Displacement
0   34.2707  -118.3872      -1.52820
1   34.2707  -118.3852      -1.30400
2   34.2707  -118.3832      -1.19470
3   34.2727  -118.4032      -0.76241
4   34.2727  -118.4012      -0.95929

        Longitude   Latitude  Displacement
0         34.2707  -118.3872      -1.52820
1         34.2707  -118.3852      -1.30400
2         34.2707  -118.3832      -1.19470
3         34.2727  -118.4032      -0.76241
4         34.2727  -118.4012      -0.95929
...           ...        ...           ...
1647369   37.6316  -117.6494       9.17190
1647370   37.6316  -117.6474       8.85760
1647371   37.6316  -117.6454       9.64730
1647372   37.6316  -117.6434       9.37720
1647373   37.6316  -117.6414       8.87250

[1647374 rows x 3 columns]

In [7]:
#get displacement for one dot over the whole time 60 20 20
#open file by file
CSVpath="E:/DSFellowship/InSAR_data_south/displacement/CSV/"
dir_list=[]
lon_south=pd.read_csv('InSAR_data_south/longitude.csv')
lat_south=pd.read_csv('InSAR_data_south/latitude.csv')
for f in os.listdir(CSVpath):
    name, ext=os.path.splitext(f)
    if(ext=='.csv'):
        dir_list.append(f)

dir_list.sort()
print(dir_list)

['20141108.csv', '20141202.csv', '20141226.csv', '20150212.csv', '20150308.csv', '20150401.csv', '20150425.csv', '20150519.csv', '20150612.csv', '20150706.csv', '20150730.csv', '20150823.csv', '20150916.csv', '20151010.csv', '20151103.csv', '20151127.csv', '20151209.csv', '20151221.csv', '20160114.csv', '20160126.csv', '20160207.csv', '20160219.csv', '20160302.csv', '20160314.csv', '20160326.csv', '20160407.csv', '20160419.csv', '20160501.csv', '20160513.csv', '20160525.csv', '20160606.csv', '20160630.csv', '20160724.csv', '20160817.csv', '20160910.csv', '20160922.csv', '20161004.csv', '20161016.csv', '20161028.csv', '20161109.csv', '20161121.csv', '20161203.csv', '20161215.csv', '20161227.csv', '20170108.csv', '20170114.csv', '20170120.csv', '20170126.csv', '20170201.csv', '20170213.csv', '20170225.csv', '20170309.csv', '20170321.csv', '20170402.csv', '20170414.csv', '20170426.csv', '20170508.csv', '20170520.csv', '20170601.csv', '20170613.csv', '20170625.csv', '20170707.csv', '20170719.csv', '20170731.csv', '20170812.csv', '20170824.csv', '20170905.csv', '20170917.csv', '20170929.csv', '20171011.csv', '20171023.csv', '20171104.csv', '20171116.csv', '20171128.csv', '20171210.csv', '20171222.csv', '20180103.csv', '20180115.csv', '20180127.csv', '20180208.csv', '20180220.csv', '20180304.csv', '20180316.csv', '20180328.csv', '20180409.csv', '20180421.csv', '20180503.csv', '20180515.csv', '20180527.csv', '20180608.csv', '20180620.csv', '20180702.csv', '20180714.csv', '20180726.csv', '20180807.csv', '20180819.csv', '20180831.csv', '20180912.csv', '20180924.csv', '20181006.csv', '20181018.csv', '20181030.csv', '20181111.csv', '20181117.csv', '20181123.csv', '20181205.csv', '20181217.csv', '20181229.csv', '20190110.csv', '20190122.csv']

In [8]:
df.head()
#df_temp=pd.read_csv('InSAR_data_south/displacement/20190122.csv')
#df_temp.columns=lon_south.columns
#df_temp.index=lat_south.columns[:-1]
#df_temp=df_temp.stack().reset_index()
##
#df_temp.columns=['Longitude','Latitude','Displacement']

for f in dir_list:
    name, ext=os.path.splitext(f)
    if(ext=='.csv'):
        print(CSVpath+f)
        df_temp=pd.read_csv(CSVpath+f)
        df_temp.columns=lon_south.columns
        df_temp.index=lat_south.columns[:-1]
        df_temp=df_temp.stack().reset_index()
        df_temp.columns=['Longitude','Latitude',name]
        #print(df1.head())
        #put it onto the main'
        df1=pd.DataFrame(data=df_temp.iloc[:,2:3])
        df1=df_temp.set_index([df_temp.columns[0],df_temp.columns[1]])
        
        
        df=pd.concat([df,df1], axis=1)
    
    
    
   #print(df.head())
        #    df1=pd.DataFrame(data=df_temp.iloc[:,2:3])
    #df1=df_temp.set_index([df_temp.columns[0],df_temp.columns[1]])
    #df=pd.concat([df, df1], axis=1)
        #df_temp.empty()

    #z_south0=z_south
#z_s= pd.read_csv('InSAR_data_south/displacement/20141108.csv')
#z_south=z_south.stack().reset_index()
#z_south.columns=['Longitude', 'Latitude', 'Displacement']
#z_south
    #
        ## next dataframe converitng to table long lat format
    #df_temp=locals()["z_south"+str(index)].unstack().reset_index()
    #
    #df_temp.columns=['Longitude','Latitude',str(listOfFile[index].split(".")[0])]
    #df1=pd.DataFrame(data=df_temp.iloc[:,2:3])
    #df1=df_temp.set_index([df_temp.columns[0],df_temp.columns[1]])
    #df=pd.concat([df, df1], axis=1)

E:/DSFellowship/InSAR_data_south/displacement/CSV/20141108.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20141202.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20141226.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20150212.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20150308.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20150401.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20150425.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20150519.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20150612.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20150706.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20150730.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20150823.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20150916.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20151010.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20151103.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20151127.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20151209.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20151221.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160114.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160126.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160207.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160219.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160302.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160314.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160326.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160407.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160419.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160501.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160513.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160525.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160606.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160630.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160724.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160817.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160910.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20160922.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20161004.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20161016.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20161028.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20161109.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20161121.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20161203.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20161215.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20161227.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170108.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170114.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170120.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170126.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170201.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170213.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170225.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170309.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170321.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170402.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170414.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170426.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170508.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170520.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170601.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170613.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170625.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170707.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170719.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170731.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170812.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170824.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170905.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170917.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20170929.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20171011.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20171023.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20171104.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20171116.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20171128.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20171210.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20171222.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180103.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180115.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180127.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180208.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180220.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180304.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180316.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180328.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180409.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180421.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180503.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180515.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180527.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180608.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180620.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180702.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180714.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180726.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180807.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180819.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180831.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180912.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20180924.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20181006.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20181018.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20181030.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20181111.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20181117.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20181123.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20181205.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20181217.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20181229.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20190110.csv
E:/DSFellowship/InSAR_data_south/displacement/CSV/20190122.csv

In [9]:
df.to_csv(r'E:/DSFellowship/InSAR_data_south/displacement/export_dataframe.csv', encoding='utf-8', index=False, na_rep='NaN' )

In [10]:
df.head()

,Longitude,Latitude,Displacement,20141108,20141202,20141226,20150212,20150308,20150401,20150425,...,20181018,20181030,20181111,20181117,20181123,20181205,20181217,20181229,20190110,20190122
0,-120.9486,34.1347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-120.9486,34.1367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-120.9486,34.1387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-120.9486,34.1407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-120.9486,34.1427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN