In [3]:
# Tensorflow / Keras
from tensorflow import keras # for building Neural Networks
print('Tensorflow/Keras: %s' % keras.__version__) # print version
from keras.models import Sequential # for creating a linear stack of layers for our Neural Network
from keras import Input # for instantiating a keras tensor
from keras.layers import Masking,Bidirectional, LSTM, RepeatVector, Dense, TimeDistributed,MaxPooling1D, Flatten, Conv1D,Conv2D,Dropout, MaxPooling2D # for creating layers inside the Neural Network
from keras.optimizers import Adam , SGD
# Data manipulation
import pandas as pd # for data manipulation
print('pandas: %s' % pd.__version__) # print version
import numpy as np # for data manipulation
print('numpy: %s' % np.__version__) # print version
import numpy.ma as ma
# Sklearn
import sklearn
print('sklearn: %s' % sklearn.__version__) # print version
from sklearn.preprocessing import MinMaxScaler # for feature scaling
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error # for calculating the cost function
from sklearn.ensemble import RandomForestRegressor # for building the model
# Visualization
import plotly 
import plotly.express as px
import plotly.graph_objects as go
print('plotly: %s' % plotly.__version__) # print version
from matplotlib import pyplot as plt

#file accessing
import os
# time stuff
from datetime import timedelta
import calendar

Tensorflow/Keras: 2.9.0
pandas: 1.4.2
numpy: 1.22.4
sklearn: 1.1.1
plotly: 5.9.0

In [4]:
df=pd.read_csv('InSAR_data_south/displacement/trainingvalidation.csv')
df=df.set_index([df.columns[0],df.columns[1]])
df.columns=pd.to_datetime(df.columns, format='%Y-%m-%d')
df=df.dropna(axis=0, how='all')#drop full nan rows
df

                    2014-11-08  2014-12-02  2014-12-26  2015-02-12  \
Longitude Latitude
-119.5609 36.1672          0.0    -5.35470   -2.365800    -5.38810
-119.5489 36.0072          0.0    -6.98510   -2.425400    -5.59300
-119.5369 36.0472          0.0    -6.52240   -2.652600    -7.67760
-119.5329 36.0152          0.0    -7.31990   -3.102300    -7.01660
-119.5289 35.9512          0.0    -5.69540   -0.297000    -1.17090
...                        ...         ...         ...         ...
-118.9351 35.9912          0.0     1.31960   -0.454550    -1.12980
-118.9331 35.8431          0.0    -0.27523    0.340730     0.11561
-118.9311 35.6111          0.0    -2.60280    0.000017     0.94402
          36.0432          0.0     1.67880   -0.808910    -1.57380
-118.9271 35.7791          0.0    -0.74982    0.704870     0.91393

                    2015-03-08  2015-04-01  2015-04-25  2015-05-19  \
Longitude Latitude
-119.5609 36.1672      -8.0230    -7.35960  -10.658000    -11.5740
-119.5489 36.0072      -8.2796    -7.10480  -11.352000    -13.1490
-119.5369 36.0472     -11.1110   -10.59000  -14.676000    -17.0200
-119.5329 36.0152      -9.4511    -8.87950  -13.596000    -15.7800
-119.5289 35.9512      -3.5007    -0.99811   -3.422100     -3.9274
...                        ...         ...         ...         ...
-118.9351 35.9912      -2.1960    -2.29490    0.732390     -2.6491
-118.9331 35.8431      -1.8977    -1.72400    1.244300     -2.6508
-118.9311 35.6111      -2.1042    -1.87170    0.510950     -2.7147
          36.0432      -1.4608    -2.81520    0.054982     -2.9420
-118.9271 35.7791      -2.0152    -1.41990    1.315100     -2.2612

                    2015-06-12  2015-07-06  ...  2018-10-18  2018-10-30  \
Longitude Latitude                          ...
-119.5609 36.1672    -14.73600  -15.653000  ...    -51.2880    -52.2000
-119.5489 36.0072    -16.28400  -17.528000  ...    -80.4520    -81.3120
-119.5369 36.0472    -20.39000  -22.219000  ...    -82.7120    -83.1190
-119.5329 36.0152    -19.31200  -21.342000  ...    -92.7010    -93.6410
-119.5289 35.9512     -5.57050   -4.514200  ...    -31.5990    -31.9420
...                        ...         ...  ...         ...         ...
-118.9351 35.9912     -0.57953   -0.463840  ...      3.3119      2.4877
-118.9331 35.8431      0.44136    0.072182  ...      5.3406      4.6145
-118.9311 35.6111      0.42639    0.334300  ...      4.6175      4.2846
          36.0432     -1.33580   -1.282900  ...      2.8628      1.8351
-118.9271 35.7791      0.90483    0.531310  ...      6.6669      6.1738

                    2018-11-11  2018-11-17  2018-11-23  2018-12-05  \
Longitude Latitude
-119.5609 36.1672     -51.5510    -50.8460    -52.1710    -51.1730
-119.5489 36.0072     -81.3700    -81.0500    -82.8020    -81.8950
-119.5369 36.0472     -82.8720    -82.5070    -84.1300    -83.3090
-119.5329 36.0152     -93.4770    -93.2590    -94.9470    -94.3050
-119.5289 35.9512     -31.8580    -31.5220    -32.9980    -32.5920
...                        ...         ...         ...         ...
-118.9351 35.9912       3.7906      3.6429      3.8131      2.7015
-118.9331 35.8431       5.8431      5.6430      5.8181      5.7786
-118.9311 35.6111       5.3261      5.0863      5.6278      4.1805
          36.0432       3.5058      3.3816      3.2020      2.7933
-118.9271 35.7791       7.0694      7.0594      7.1988      6.9346

                    2018-12-17  2018-12-29  2019-01-10  2019-01-22
Longitude Latitude
-119.5609 36.1672     -51.0260    -51.1030    -53.1130    -53.6540
-119.5489 36.0072     -80.9560    -82.2640    -83.5630    -83.4070
-119.5369 36.0472     -83.1980    -83.6720    -84.9170    -84.5300
-119.5329 36.0152     -93.6450    -94.7880    -96.0660    -96.0170
-119.5289 35.9512     -31.5850    -32.0960    -33.1620    -32.8450
...                        ...         ...         ...         ...
-118.9351 35.9912       5.1692      5.8056      3.2722      3.7133
-118.9331 35.8431       7.0684      8.0765      5.0210      5.4701
-118.9311 35.6111       6.4902      7.5899      4.7841      5.1107
          36.0432       4.2067      4.5700      2.6953      2.8795
-118.9271 35.7791       8.5980      9.5428      6.8206      7.1979

[410 rows x 110 columns]

In [5]:
drain=pd.read_csv('InSAR_data_south/displacement/rainfall.csv')
drain=drain.set_index([drain.columns[0],drain.columns[1]])
drain.columns=pd.to_datetime(drain.columns, format='%Y-%m-%d')
for y in range(df.columns.size):# includes all dates and adds nans
    if df.columns[y] != drain.columns[y]: #if column is misssing insert it
        drain.insert(loc=y,column=df.columns[y],value=np.nan*237,allow_duplicates=False)

C:\Users\jupad\AppData\Local\Temp\ipykernel_1784\2099583455.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  drain.insert(loc=y,column=df.columns[y],value=np.nan*237,allow_duplicates=False)

In [7]:
#Iterate through row until find nan.
#Take date of nan and look for most similar date in following years
dates=drain.columns.values
dates

array(['2014-11-08T00:00:00.000000000', '2014-12-02T00:00:00.000000000',
       '2014-12-26T00:00:00.000000000', '2015-02-12T00:00:00.000000000',
       '2015-03-08T00:00:00.000000000', '2015-04-01T00:00:00.000000000',
       '2015-04-25T00:00:00.000000000', '2015-05-19T00:00:00.000000000',
       '2015-06-12T00:00:00.000000000', '2015-07-06T00:00:00.000000000',
       '2015-07-30T00:00:00.000000000', '2015-08-23T00:00:00.000000000',
       '2015-09-16T00:00:00.000000000', '2015-10-10T00:00:00.000000000',
       '2015-11-03T00:00:00.000000000', '2015-11-27T00:00:00.000000000',
       '2015-12-09T00:00:00.000000000', '2015-12-21T00:00:00.000000000',
       '2016-01-14T00:00:00.000000000', '2016-01-26T00:00:00.000000000',
       '2016-02-07T00:00:00.000000000', '2016-02-19T00:00:00.000000000',
       '2016-03-02T00:00:00.000000000', '2016-03-14T00:00:00.000000000',
       '2016-03-26T00:00:00.000000000', '2016-04-07T00:00:00.000000000',
       '2016-04-19T00:00:00.000000000', '2016-05-01T00:00:00.000000000',
       '2016-05-13T00:00:00.000000000', '2016-05-25T00:00:00.000000000',
       '2016-06-06T00:00:00.000000000', '2016-06-30T00:00:00.000000000',
       '2016-07-24T00:00:00.000000000', '2016-08-17T00:00:00.000000000',
       '2016-09-10T00:00:00.000000000', '2016-09-22T00:00:00.000000000',
       '2016-10-04T00:00:00.000000000', '2016-10-16T00:00:00.000000000',
       '2016-10-28T00:00:00.000000000', '2016-11-09T00:00:00.000000000',
       '2016-11-21T00:00:00.000000000', '2016-12-03T00:00:00.000000000',
       '2016-12-15T00:00:00.000000000', '2016-12-27T00:00:00.000000000',
       '2017-01-08T00:00:00.000000000', '2017-01-14T00:00:00.000000000',
       '2017-01-20T00:00:00.000000000', '2017-01-26T00:00:00.000000000',
       '2017-02-01T00:00:00.000000000', '2017-02-13T00:00:00.000000000',
       '2017-02-25T00:00:00.000000000', '2017-03-09T00:00:00.000000000',
       '2017-03-21T00:00:00.000000000', '2017-04-02T00:00:00.000000000',
       '2017-04-14T00:00:00.000000000', '2017-04-26T00:00:00.000000000',
       '2017-05-08T00:00:00.000000000', '2017-05-20T00:00:00.000000000',
       '2017-06-01T00:00:00.000000000', '2017-06-13T00:00:00.000000000',
       '2017-06-25T00:00:00.000000000', '2017-07-07T00:00:00.000000000',
       '2017-07-19T00:00:00.000000000', '2017-07-31T00:00:00.000000000',
       '2017-08-12T00:00:00.000000000', '2017-08-24T00:00:00.000000000',
       '2017-09-05T00:00:00.000000000', '2017-09-17T00:00:00.000000000',
       '2017-09-29T00:00:00.000000000', '2017-10-11T00:00:00.000000000',
       '2017-10-23T00:00:00.000000000', '2017-11-04T00:00:00.000000000',
       '2017-11-16T00:00:00.000000000', '2017-11-28T00:00:00.000000000',
       '2017-12-10T00:00:00.000000000', '2017-12-22T00:00:00.000000000',
       '2018-01-03T00:00:00.000000000', '2018-01-15T00:00:00.000000000',
       '2018-01-27T00:00:00.000000000', '2018-02-08T00:00:00.000000000',
       '2018-02-20T00:00:00.000000000', '2018-03-04T00:00:00.000000000',
       '2018-03-16T00:00:00.000000000', '2018-03-28T00:00:00.000000000',
       '2018-04-09T00:00:00.000000000', '2018-04-21T00:00:00.000000000',
       '2018-05-03T00:00:00.000000000', '2018-05-15T00:00:00.000000000',
       '2018-05-27T00:00:00.000000000', '2018-06-08T00:00:00.000000000',
       '2018-06-20T00:00:00.000000000', '2018-07-02T00:00:00.000000000',
       '2018-07-14T00:00:00.000000000', '2018-07-26T00:00:00.000000000',
       '2018-08-07T00:00:00.000000000', '2018-08-19T00:00:00.000000000',
       '2018-08-31T00:00:00.000000000', '2018-09-12T00:00:00.000000000',
       '2018-09-24T00:00:00.000000000', '2018-10-06T00:00:00.000000000',
       '2018-10-18T00:00:00.000000000', '2018-10-30T00:00:00.000000000',
       '2018-11-11T00:00:00.000000000', '2018-11-17T00:00:00.000000000',
       '2018-11-23T00:00:00.000000000', '2018-12-05T00:00:00.000000000',
       '2018-12-17T00:00:00.000000000', '2018-12-29T00:00:00.000000000',
       '2019-01-10T00:00:00.000000000', '2019-01-22T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [14]:

# for x in drain.index.values:
#     for y in range(len(drain.columns.values)):
#         if np.isnan(drain.loc[x][y]):
#            drain.loc[x][y]= next value
#drain.loc[drain.index.values[0]][109]

59.73682847317471